header {
	background: grey;
	font-size: 0;
}

main {
	font-size: 0;
}

footer {
	background: grey;
	font-size: 0;
	padding: 1rem 0;
}

.column {
	display: inline-block;
	font-size: 1rem;
}

.w25 {
	width: 25%;
}

.w75 {
	width: 75%;
}

.w33 {
	width: 33.3333%;
}

.w50 {
	width: 50%;
}

.inColumn {
	padding: 0 1rem;
}

h1 {
	font-size: 2rem;
	padding: 0 1rem;
}

.cWhite {
	color: white;
}

.cGrey {
	color: grey;
}

.btn {
	background: green;
	border: 1px solid black;
	font-size: 1rem;
	padding: 1rem;
	margin: 1rem;
	display: inline-block;
}

.btnContainer{
	text-align: center;
}